body {
  margin: 0;
  padding: 0;
  display: flex;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex: 1;
}

.App {
  min-height: 100vh;
  flex: 1;
  font-family: "Figtree", serif, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.App.reversed {
  flex-direction: row-reverse;
}
